@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800;900&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #242424;
}

button {
  transition: all 100ms ease-in-out;
}
button:active {
  opacity: 0.5;
  filter: brightness(50%);
  transform: translateY(8px);
}

html {
  scroll-behavior: smooth;
}

.error__img {
  width: 100px;
}

.error__h1,
.error__h2 {
  margin: 0.5em 0em;
  padding: 0em 3em;
  max-width: 800px;
  width: 100%;
  text-align: center;
}

.error__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3em 0em;
}

body {
  background-color: #f6f8fc;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

header {
  flex-direction: column;
  margin: 0em 0em 8em 0em;
  /* background-image: url("./assets/pokmeon-banner.jpg");
  background-size: cover; */
}

input[type="range"] {
  width: 200px;
  margin: 10px 0;
}

.slider__header {
  display: flex;
  justify-content: space-between;
}

.slider__h3 {
  font-size: 1em;
  color: #242424a8;
}

.slider__h3:nth-child(2) {
  right: 0;
}

.player__input {
  background-color: transparent;
  border: none;
  margin: 8px 0;
  padding: 8px;
  font-weight: 600;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  color: #242424;
  transition: all 300ms ease-in-out;
}

.player__input::placeholder {
  color: #242424;
  font-weight: 300;
  font-size: 1em;
}

.player__input:focus {
  outline: none;
  border: none;
}

.searchbar__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
  padding: 0em 1em;
  border-radius: 4px;
  border-radius: 50px;
  height: 70px;
  width: 400px;
  border: 1px solid #fff;
  background-color: #f6f8fc;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
  background-color: transparent;
  border: 1px solid #ccc;
  color: #fff;
  cursor: pointer;
  transition: all 300ms ease;
  border-radius: 4px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;

  background: rgba(0, 0, 0, 0.749);
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.16);

  padding: 1em;
  z-index: 3;
  animation: fadeIn 1s ease;
}

.nav__links {
  display: flex;
}

a {
  text-decoration: none;
}

.link__hover-effect--black:after,
.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #fff;
  border-radius: 50px;
  width: 0%;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}

.link__hover-effect--black:after {
  background-color: #242424;
}

.nav__link--anchor {
  color: #fff;

  font-weight: 700;
  font-family: "Open Sans";
}

.contact {
  background-color: #fff;
  color: #242424;
  padding: 1em 2em;
  border-radius: 50px;
  font-size: 0.75em;
  transition: all 300ms ease-in-out;
  box-shadow: 0 0 1px 1px #242424;
  overflow: hidden;
}

.contact:hover {
  background-color: #242424;
  color: #fff;
  box-shadow: 0 0 1px 1px #fff;
  cursor: not-allowed;
}

.nav__link {
  position: relative;
  text-decoration: none;
  margin: 0em 1em;
  list-style-type: none;
  color: #fff;
}

.site__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo__text {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1.25em;
  color: #fff;
  margin: 0.5em;
}

.home__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
}

.home__link:hover {
  opacity: 0.7;
  transform: translateY(2px);
}

.logo {
  height: 50px;
  width: 50px;
  filter: invert();
}

.search__btn {
  background-color: #fff;
  border: none;
  border-radius: 4px;
  margin: 8px 0;
  padding: 8px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  color: #ffffff;
  transition: all 300ms ease-in-out;
  align-self: right;
  cursor: pointer;
  box-shadow: rgba(100, 100, 100, 0.4) 0px 7px 29px 0px;
}

.search__btn .fa-solid {
  color: #242424;
}

.search__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3em 0em;
  margin-top: 3em;
  height: 300px;
}

.header__background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40vh;
  z-index: -1;

  overflow: hidden;
}

.background {
  width: 100%;
  filter: brightness(70%) blur(3px);
  background-size: cover;
}

/* POKEMON */

.pokedex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.pokemon__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  height: 100%;
  padding: 3em 0em;
  margin: 1em 2em;
  background-color: #fff;

  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.filter__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.refresh__button {
  padding: 0.5em;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #143b3a;
  box-shadow: rgba(100, 100, 111, 1) 2px 2px 0px 0px;
}

.refresh__button:active {
  background-color: rgba(147, 249, 143, 0.86);
  color: #fff;
  filter: none;
  opacity: 1;
}

.filter__selector {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: none;
  padding: 0.5em;
  outline: none;
  border-radius: 8px;
  margin: 1em 0.5em;
}

.pokemon__type--wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0em 1em;
}

.type__wrapper {
  display: flex;
  width: 100%;
}

.pokemon__header {
  color: #112238;
  font-weight: 900;
  margin: 0em 0em;
}

.pokemon__img {
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  transform: scale(1.4);
}

.pokemon__id {
  color: #ccc;
  font-size: 1em;
}

.pokemon__img--wrapper {
  overflow: hidden;
  margin: 0em 2em;
  /* background-color: yellow; */
}

.show {
  display: flex !important;
}

.pokemon__name {
  color: #242424;
  height: 100%;
}

option {
  border: none;
  outline: none;
  margin: 0.5em;
}

.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(
    0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px
  );
  position: relative;
}
.pixel-corners {
  border: 4px solid transparent !important;
  z-index: 0 !important;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(
    4px 20px,
    8px 20px,
    8px 12px,
    12px 12px,
    12px 8px,
    20px 8px,
    20px 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 4px),
    20px calc(100% - 4px),
    20px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 20px),
    4px calc(100% - 20px)
  );
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(
    0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px,
    0px 50%,
    4px 50%,
    4px 20px,
    8px 20px,
    8px 12px,
    12px 12px,
    12px 8px,
    20px 8px,
    20px 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 4px),
    20px calc(100% - 4px),
    20px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 20px),
    4px calc(100% - 20px),
    4px 50%,
    0px 50%
  );
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -4px;
}

/* POKEMON TYPE STYLING */

.type__style {
  font-size: 0.85em;
  font-weight: 700;
  text-align: center;
  border-radius: 8px;
  padding: 0.5em 1em;
  margin: 1em 0em;
}

.grass__style {
  background-color: #a8ef8d;
  color: #2d6413;
}

.poison__style {
  background-color: #df7afd;
  color: #3e2b40;
}

.fairy__style {
  background-color: #f0b6bc;
  color: #242424;
}

.fire__style {
  background-color: #fb995d;
  color: #682107;
}

.fighting__style {
  background-color: #e86b63;
  color: #5d1000;
}

.steel__style {
  background-color: #acabcd;
  color: #464c5c;
}

.water__style {
  background-color: #8fb2f6;
  color: #2e5092;
}

.ground__style {
  background-color: #ffcd83;
  color: #703812;
}

.dark__style {
  background-color: #705848;
  color: #fff;
}

.dragon__style {
  background-color: #7038f8;
  color: #f5eeff;
}

.flying__style {
  background-color: #a890f0;
  color: #160830;
}

.ice__style {
  background-color: #98d8d8;
  color: #143b3a;
}

.bug__style {
  background-color: #a8b820;
  color: #32370c;
}

.electric__style {
  background-color: #f8d030;
  color: #41360c;
}

.normal__style {
  background-color: #a8a878;
  color: #fff;
}

.ghost__style {
  background-color: #705898;
  color: #f4f1f9;
}

.psychic__style {
  background-color: #f87080;
  color: #30132b;
}

.rock__style {
  background-color: #b8a038;
  color: #453d0e;
}

/* STATS SECTION */
.stats__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.stats__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  background-color: #f6f8fc;
  /* Adjust margin as needed */
  box-sizing: border-box; /* Include padding and border in the box model */
  color: #fff;
  border: 1px solid #2424240b;
  font-weight: 600;
  z-index: 2;
  margin: 1em 1.5em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.category__header {
  font-size: 1em;
  margin-bottom: 1em;
}

.stats__item::after {
  content: attr(data-stat); /* Use the data-stat attribute content */
  position: absolute;
  top: -1.25em;

  color: #242424; /* Set text color */
}

/* .stats__item::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 80px;
  z-index: -1;
  background-color: #ccc;
  top: -1em;
 
} */

.hp {
  background-color: #df2140;
}

.circle {
  height: 50px;
  width: 50px;
}

.atk {
  background-color: #ff994d;
}

.def {
  background-color: #fedc61;
}

.spa {
  background-color: #85ddff;
}

.spd {
  background-color: #a8f083;
}

.speed {
  background-color: #fb94a8;
}

#result {
  opacity: 0;
  position: absolute;
  top: 4em;
  left: 1em;
  padding: 3px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
  border-radius: 8px;
  color: #ccc;
}

#result ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#result ul li {
  padding: 5px 0;
}
#result ul li:hover {
  background: #eee;
}
